<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vytvořit uživatele</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Vytvořit nového uživatele</h1>

<form th:action="@{/users}" th:object="${user}" method="post">
    <label>Jméno:</label>
    <input type="text" th:field="*{name}" required/><br><br>

    <label>Příjmení:</label>
    <input type="text" th:field="*{surname}" required/><br><br>

    <label>Pohlaví:</label>
    <select th:field="*{gender}">
        <option value="Muž">Muž</option>
        <option value="Žena">Žena</option>
        <option value="Jiné">Jiné</option>
    </select><br><br>

    <button type="submit">Vytvořit</button>
</form>

<br>
<a th:href="@{/users}">Zpět na seznam uživatelů</a>
</body>
</html>
