<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Seznam uživatelů</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Uživatelé</h1>

<a th:href="@{/users/new}">➕ Přidat nového uživatele</a>
<br><br>

<table border="1" cellpadding="5" cellspacing="0">
    <tr>
        <th>ID</th>
        <th>Jméno</th>
        <th>Příjmení</th>
        <th>PersonID</th>
        <th>UUID</th>
        <th>Akce</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.personId}"></td>
        <td th:text="${user.uuid}"></td>
        <td>
            <a th:href="@{'/users/edit/' + ${user.id}}">✏️ Upravit</a> |
            <a th:href="@{'/users/delete/' + ${user.id}}">🗑️ Smazat</a>
        </td>
    </tr>
</table>
</body>
</html>
